@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Gerenciamento de Produtos</h1>
    <p class="lead">Sistema de controle de produtos e estoque.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Produtos</h3>
            </div>
            <div class="panel-body">
                <p>Gerencie o cadastro de produtos e controle o estoque.</p>
                @Html.ActionLink("Acessar Produtos", "Index", "Produtos", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>